@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:ital,wght@0,200;0,600;0,700;0,800;1,200;1,400&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}



#button-up {
    width: 60px;
    height: 60px;
    background:#46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

.menu-nav {
    font-weight: bold;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/* HEADER */

header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, hsla(206, 19%, 24%, 0.432), hsla(208, 100%, 50%, 0.638)), url(../img/portada2.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: center;
    padding: 30px 50px 0 0;
}

.navlist-right {
    float: right;
}

nav>a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-left: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: white;
}


/* Presentacion */

#somos-proya h2 {
    margin-bottom: 30px;
    margin-top: 0px;
}

#somos-proya .img-container {
    background-image: url(../img/somos-proya.jpg);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .8);
}

.color-acento {
    color: rgb(43, 186, 226);
}

#somos-proya .texto {
    color: white;
    font-size: 25px;
    text-align: justify;
    width: 50%;
    max-width: 600px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#somos-proya .container {
     background-color: black;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 60px 15px;
}


/* GALERIA*/

.portafolio {
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.galeria-port {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}


/* Clientes */

.contenedor-clientes{
    background: #20002c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
}    

.titulo-clientes{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background-color: #642a73;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0 .5);
}

.cards .card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: white;
}

.cards .card>.contenido-text-card p {
    font-weight: 300;
    padding-top: 5px;
}


/* acerca de */

.titulo {
    background: linear-gradient(rgba(0, 10, 25, 0.838), rgba(3, 56, 233, 0.781));
    -webkit-background-clip: text;
    color: transparent;
}

.contenedor1 {
    background: linear-gradient(to right, hsla(206, 19%, 24%, 0.432), hsla(208, 100%, 50%, 0.638));
    /*  url(../img/img1.jpg) */
    ;
    /*  background: hsl(0, 0%, 100%); */
}

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .8);
    border-radius: 2%;
    width: 48%;
}

.contenido-textos {
    margin-right: 75px;
    width: 35%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.titulo-acerca {
    text-align: center;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* SERVICIOS team */

.img-services {
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: transform 0.2s;
}


.img-services:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.about-services {
    background: #56CCF2;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind ul {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* --- --- CAROUSEL --- --- */

.carrusel {
    height: 21vh;
    display: flex;
    align-items: center;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
}

.carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid rgb(109, 109, 109);
    cursor: pointer;
}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover {
    transform: scale(1.2);
}





/* footer */

.titulo-final {
    text-align: center;
    color: rgb(0, 0, 0);
    background: #666;
    font: normal 18px 'Open Sans';
}

.footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media screen and (max-width:800px) {
    .texto p {
        font-size: 12px;
    }
    .texto h2 {
        font-size: 15px;
    }
    .servicio-ind h3 {
        font-size: 9px;
    }
    .servicio-ind ul {
        font-size: 9px;
    }
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav>a {
        margin-right: 5px;
    }
    .textos-header h1 {
        font-size: 25px;
    }
    .textos-header h2 {
        font-size: 20px;
    }
    /* ABOUT US */
    .imagen-about-us {
        margin-bottom: 60px;
        width: 30px;
        height: 30px;
    }
    .sobre-nosotros .contenido-textos {
        width: 95%;
    }
    /* Galeria */
    .imagen-port {
        width: 95%;
    }
    /* Clients */
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img {
        width: 90px;
        height: 90px;
    }
    .titulo-final {
        font-size: 20px;
    }
}
